[submodule "submodules/SDL2"]
	path = submodules/SDL2
	url = git@github.com:spurious/SDL-mirror.git
[submodule "submodules/hashlink"]
	path = submodules/hashlink
	url = git@github.com:starburst997/hashlink.git
[submodule "submodules/heaps"]
	path = submodules/heaps
	url = git@github.com:HeapsIO/heaps.git
[submodule "submodules/IDZPrecompiledOgg"]
	path = submodules/IDZPrecompiledOgg
	url = git@github.com:iosdevzone/IDZPrecompiledOgg.git
[submodule "submodules/IDZPrecompiledVorbis"]
	path = submodules/IDZPrecompiledVorbis
	url = git@github.com:iosdevzone/IDZPrecompiledVorbis.git
[submodule "submodules/libpng-for-iOS"]
	path = submodules/libpng-for-iOS
	url = git@github.com:starburst997/libpng-for-iOS.git
[submodule "submodules/turbojpeg"]
	path = submodules/turbojpeg
	url = git@github.com:starburst997/turbojpeg.git
[submodule "submodules/hxbit"]
	path = submodules/hxbit
	url = git@github.com:ncannasse/hxbit.git
